<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>CSCSE电子证照</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
    	<%= csrf_meta_tags %>
    	<%= csp_meta_tag %>

    	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    	<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
		<style>
			.mui-table h4,.mui-table-view h5,.mui-table .mui-h5,.mui-table .mui-h6,.mui-table p{
		        margin-top: 0;
		    }
		    .mui-table-view i{
		    	margin-bottom: 5px;
		    }
		    .mui-table h4{
		        line-height: 21px;
		        font-weight: 500;
		    }
		    .mui-table .oa-icon{
		        position: absolute;
		        right:0;
		        bottom: 0;
		    }
		    .mui-table .oa-icon-star-filled{
		        color:#f14e41;
		    }
		    .green{
		    	color:#0060AA;
		    }
		    .mui-table-view-cell{
		    	width:100%
		    }
		</style>
	</head>

	<body>
		<div class="mui-card" style="margin:0px">
			<!--页眉-->
			<div>
				<%= image_tag "card2.png", class: "layui-circle", style: "width: 100%;" %>
			</div>
			<!--内容区-->
			<div class="mui-card-content">
				 <ul class="mui-table-view" id="licenceInfo"><li class="mui-table-view-cell"><div style="font-size:20px;" align="center"> 国外学历学位认证书</div></li><li class="mui-table-view-cell"><h5 class="green"><i class="fa fa-address-card-o"> 证照名称</i></h5><h5>国外学历学位认证书</h5></li><li class="mui-table-view-cell"><h5 class="green"><i class="fa fa-address-card-o"> 证照编号</i></h5><h5>120210135571</h5></li><li class="mui-table-view-cell"><h5 class="green"><i class="fa fa-user-o"> 持证者</i></h5><h5>李东芃</h5></li><li class="mui-table-view-cell"><h5 class="green"><i class="fa fa-file-text-o"> 颁发部门</i></h5><h5>教育部留学服务中心</h5></li><li class="mui-table-view-cell"><h5 class="green"><i class="fa fa-calendar-check-o"> 颁发日期</i></h5><h5>2021-07-26</h5></li><li class="mui-table-view-cell"><h5 class="green"><i class="fa fa-check-square-o"> 证照状态</i></h5><h5>有效</h5></li></ul>
			</div>
			<!--点击查看详细信息-->
			<a id="ext_Link" style="display:none" class="mui-btn mui-btn-block" target="_blank">点击查看详细信息</a>
		</div>
		
	
	<script src="/ecmsqr/lib/mui/mui.min.js"></script>
	<script type="text/javascript" src="/ecmsqr/lib/jquery/1.9.1/jquery.min.js"></script> 
	<script type="text/javascript">
		$(document).ready(function(){
			var oid = getQueryString('oid');
			$.ajax({
	            type: "POST",
	            contentType: "application/json;charset=utf-8",
	            url:"https://zzhy.cscse.edu.cn/ecmsqr/qrCodeInfo?oid="+oid,
	            success: function(data) {
	         
	          		var licence = document.getElementById("licenceInfo");
	            	//错误结果
	            	if(data==""){
	            		licence.innerHTML ="<li class='mui-table-view-cell'><div style='font-size:20px;color:#FF0000' align='center'>服务请求失败</div></li>";
	            		return;
	            	}
	            	var data = JSON.parse(data);
	            	var status = data.head.status;
	            	//错误结果
	            	if(status!='0'){
	            		licence.innerHTML ="<li class='mui-table-view-cell'><div style='font-size:20px;color:#FF0000' align='center'>服务异常</div></li>";
	            		return;
	            	}
	            	//查无结果
	            	if(data.data.total=='0'){
	            		 licence.innerHTML ="<li class='mui-table-view-cell'><div style='font-size:20px;color:#FF0000' align='center'>查找不到记录</div></li>";
	            		 return;
	            	}
	            	var licenseInfo=data.data.dataList[0];
	            	var extUrl =licenseInfo.extUrl;
	            	if(extUrl!="" && extUrl!=undefined){
	            		$("#ext_Link").attr("href",extUrl);
	            		$("#ext_Link").show();
		            }
	            	
		            var htmlText = "<li class='mui-table-view-cell'><div style='font-size:20px;' align='center'> "+getContentName(licenseInfo.certificateName)+"</div></li>";
		            	htmlText += "<li class='mui-table-view-cell'><h5 class='green'><i class='fa fa-address-card-o'> 证照名称</i></h5><h5>"+getContentName(licenseInfo.certificateType)+"</h5></li>";
		            	htmlText += "<li class='mui-table-view-cell'><h5 class='green'><i class='fa fa-address-card-o'> 证照编号</i></h5><h5>"+licenseInfo.certificateNumber+"</h5></li>";
		            	htmlText += "<li class='mui-table-view-cell'><h5 class='green'><i class='fa fa-user-o'> 持证者</i></h5><h5>"+licenseInfo.certificateHolder+"</h5></li>";
		            	if(licenseInfo.certificateValidateStart!=""){
		            		htmlText += "<li class='mui-table-view-cell'><h5 class='green'><i class='fa fa-calendar-check-o'> 有效期开始</i></h5><h5>"+licenseInfo.certificateValidateStart+"</h5></li>";
		            		htmlText += "<li class='mui-table-view-cell'><h5 class='green'><i class='fa fa-calendar-check-o'> 有效期截至</i></h5><h5>"+getValidateEnd(licenseInfo.certificateValidateEnd)+"</h5></li>";
		            	}
		            	htmlText += "<li class='mui-table-view-cell'><h5 class='green'><i class='fa fa-file-text-o'> 颁发部门</i></h5><h5>"+"教育部留学服务中心"+"</h5></li>";
		            	htmlText += "<li class='mui-table-view-cell'><h5 class='green'><i class='fa fa-calendar-check-o'> 颁发日期</i></h5><h5>"+licenseInfo.issueDate+"</h5></li>";
		            	htmlText += "<li class='mui-table-view-cell'><h5 class='green'><i class='fa fa-check-square-o'> 证照状态</i></h5><h5>"+licenseInfo.certificateStatus+"</h5></li>";
			        licence.innerHTML =htmlText;
	            },
	            error: function(request) {
	              layer.close(index);
		          toastrWInfo("查询不到证照文件!");
		        }
	        });	
			
		});

		function getHolderType(type){
			var holderTypeName="";
			if(type=="03")holderTypeName="澳门永久性居民身份证";
			else if(type=="06")holderTypeName="香港永久性居民身份证";
			else if(type=="07")holderTypeName="台湾居民身份证";
			else if(type=="3")holderTypeName="护照";
			else if(type=="A")holderTypeName="身份证";
			else if(type=="001")holderTypeName="统一社会信用代码";
			else if(type=="099")holderTypeName="其他法人或其他组织有效证件代码";
			else if(type=="111")holderTypeName="公民身份号码";
			else if(type=="114")holderTypeName="中国人民解放军军官证编号";
			else if(type=="115")holderTypeName="中国人民武装警察部队警官证编号";
			else if(type=="118")holderTypeName="中国人民解放军士兵证编号";
			else if(type=="119")holderTypeName="中国人民武装警察部队士兵证编号";
			else if(type=="120")holderTypeName="中国人民解放军文职人员证编号";
			else if(type=="122")holderTypeName="中国人民武装警察部队文职人员证编号";
			else if(type=="411")holderTypeName="外交护照护照号";
			else if(type=="412")holderTypeName="公务护照护照号";
			else if(type=="413")holderTypeName="公务普通护照护照号";
			else if(type=="414")holderTypeName="普通护照护照号";
			else if(type=="511")holderTypeName="台湾居民来往大陆通行证号码";
			else if(type=="516")holderTypeName="港澳居民来往内地通行证号码";
			else if(type=="553")holderTypeName="外国人永久居留身份证";
			else if(type=="155")holderTypeName="台湾居民来往大陆居住证";
			else if(type=="156")holderTypeName="港澳居民来往内地居住证";
			else if(type=="999")holderTypeName="其他自然人有效证件代码";
			return holderTypeName;
		}
		function getContentName(name){
			var contentName=name;
			if(name=="留学人员档案室证明-中")contentName="留学存档人员相关人事证明";
			else if(name=="留学人员档案室证明-左")contentName="留学存档人员相关人事证明";
			else if(name=="党员介绍信")contentName="中国共产党党员组织关系介绍信";
			else if(name=="留学人员档案室证明-多页左")contentName="借出党员材料转正公函";
			return contentName;
		}
		
		function getValidateEnd(endTime){
			var validateEnd=endTime;
			if(endTime=="" || endTime==undefined)validateEnd="长期";
			return validateEnd;
		}
		function getQueryString(name) {
			
			var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
			var r = location.search.substr(1).match(reg);
			if(r != null)return decodeURI(r[2]);
			return null;
		}
	</script>
</body>
	
</html>